<div class="container">
	<h3>Queries</h3>
	<div class="row">
		<div class="col-md-9 list-content">
			&nbsp;
			<div class="bg-white tiled" *ngIf="dataFetched">
				<table mat-table [dataSource]="queryRows" style="width: 100%;">
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef> Name </th>
						<td mat-cell *matCellDef="let query"> 
							<a href="/queries/{{query.id}}">{{query.name}}</a>
						</td>
					</ng-container>
					<ng-container matColumnDef="created_at">
						<th mat-header-cell *matHeaderCellDef> Created At </th>
						<td mat-cell *matCellDef="let query"> {{query.created_at | date: 'dd/MM/yyyy hh:mm'}} </td>
					</ng-container>
					<ng-container matColumnDef="runtime">
						<th mat-header-cell *matHeaderCellDef> Runtime </th>
						<td mat-cell *matCellDef="let query"> {{query.runtime | number:'1.0-0'}} seconds </td>
					</ng-container>
					<ng-container matColumnDef="retrieved_at">
						<th mat-header-cell *matHeaderCellDef> Last Executed at </th>
						<td mat-cell *matCellDef="let query"> {{query.retrieved_at | date: 'dd/MM/yyyy hh:mm'}} </td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
		</div>

		<div class="col-md-3 list-control-r-b">
			<div class="m-b-10">
				<input type="text" class="form-control" placeholder="Search Queries..." autofocus [(ngModel)]="term"
					(change)="update()">
			</div>
			<div class='list-group m-b-10 tags-list tiled'>
				<a href="queries" class="list-group-item" class="{active: currentPage == 'all'}">
					All Queries
				</a>
				<a href="queries/favorites" class="list-group-item" class="{active: currentPage == 'favorites'}">
					<span class="btn-favourite">
						<i class="fa fa-star" aria-hidden="true"></i>
					</span>
					Favorites
				</a>
				<!-- <a href="queries/my" class="list-group-item" *ngIf="showMyQueries" class="{active: currentPage == 'my'}">
					<img src="{{currentUser.profile_image_url}}" class="profile__image--navbar" width="13" style="margin-right: 0;"
					/> My Queries
				</a> -->
			</div>
			<!-- <div *ngIf="currentPage != 'my'" class="m-b-10">
				<tags-list tags-url="api/queries/tags" on-tags-update="onTagsUpdate"></tags-list>
			</div> -->
			<div class="m-b-5">
				<select (change)="update()" [(ngModel)]="pageSize" class="form-control"
					ng-options="value as pageSizeLabel(value) for value in pageSizeOptions"></select>
			</div>
		</div>
	</div>
</div>
