<div name="dynamicForm">
	<div class="form-group required" class=''>
		<label class="control-label" >Name</label>
		<input type="string" class="form-control" name="targetName" [(ngModel)]="target.name" autofocus required>
		<!-- <error-messages input="dynamicForm.targetName" form="dynamicForm"></error-messages> -->
	</div>
	<hr>
	<div class="form-group" class='' *ngFor="let field of fields">
		<label *ngIf="field.property.type !== 'checkbox'" class="control-label">
			{{field.property.title || field.name}}
		</label>
		<input type="{{field.property.type}}" class="form-control" [(ngModel)]="target.options[field.name]" required="field.property.required" *ngIf="field.property.type !== 'file' && field.property.type !== 'checkbox'" placeholder="{{field.property.default}}" />

		<label *ngIf="field.property.type=='checkbox'">
			<input type="{{field.property.type}}" [(ngModel)]="target.options[field.name]" required="field.property.required" *ngIf="field.property.type !== 'file'" placeholder="{{field.property.default}}">
			{{field.property.title || field.name}}
		</label>

		<input type="file" class="form-control" [(ngModel)]="files[field.name]" required="field.property.required && !target.options[field.name]"
		base-sixty-four-input
		*ngIf="field.property.type === 'file'">

		<!-- <error-messages input="inner.input" form="inner"></error-messages> -->
	</div>

	<button class="btn btn-block btn-primary m-b-10" (click)="onBtnClick('Save')">Save</button>
	<span *ngFor="let action of actions">
		<button class="btn btn-default {{action.class}}"
				*ngIf="target.id"
				(click)="onBtnClick(action.name)" [innerHTML]="action.name">			
		</button>
	</span>

	<ng-content></ng-content>
</div>
